.sign-up-button{
  background-color: #328e01;
  border-radius: 5px;
  border: none;
  margin: 8px 11px 0px 0px;
}

#log-in-button{
  text-decoration:none;
  color: black;
  margin-left: 11px;
  font-weight:500;
}

.intro-phrase{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.sign-up-text{
  text-decoration:none;
  color: black;
  margin-left: 11px;
  font-weight:500;
}
