.food-item-image {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-icon {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
