.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 200px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  flex-shrink: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-button-recipes{
  margin-left: auto;
}

.hidden-info{
  padding: 10px 5px;
  padding-right: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

#list-item-recipe{
  margin-top: 10px;

}

.recipes-header{
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.save-icon-recipes{
  height: 20px !important;
  width: 20px !important;
}

.recipes-image{
  height: 100%;
}
