.container-shapes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.kcal-amount-row {
  display: flex;
  gap: 120px;
  align-items: center;
  align-content: space-between;
}

.square {
  width: 90px;
  height: 90px;
  background-color: none;
  color: rgb(14, 154, 56);
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}

.item_quantity{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 20px;
}

/* Circle */
.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(246, 243, 243);
  color: black;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 6px solid #2eae5dfd;
  text-align: center;
  margin-left: 5px;
}

/* Rectangle row */
.rectangle-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Rectangle */
.rectangle {
  width: 80px;
  height: 50px;
  background-color: rgb(246, 243, 243);
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-left: 5px solid rgb(29, 64, 238);
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;

}
.protein{
  border-left: 5px solid rgb(177, 25, 14);
}
.fats{
  border-left: 5px solid rgb(29, 64, 238);
}
.carbs{
  border-left: 5px solid rgb(219, 156, 21);
}

.name-and-quantity-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;

  padding-top: 15px;
}

#green-legend{
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background-color:rgb(14, 154, 56);
}

#orange-legend{
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background-color:rgb(219, 156, 21);
}
#red-legend{
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background-color:rgb(177, 25, 14);
}
#blue-legend{
  border-radius: 3px;
  width: 12px;
  height: 12px;
  background-color:rgb(29, 64, 238);
}

.legend-row{
  display:flex;
  align-items: center;
}

#legend{
  margin-right: 20px;
  display: flex;

}

.legend-and-circle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nutri-table{
  display: flex;
  justify-content: center;
}

.border-buttons{
  height: 1px;
  width: 90%;
  margin: 10px auto;
}

.food-item-image {
  width: 160px;
  height: 160px;
  object-position: center center;
  object-fit: fill;
  overflow: hidden;
  border-radius: 8px;
}
